body
{  
	background-color:#fff;  
	margin: 0px auto; 
	background-image: url("calculator.jpg");
} 
				
.mainDiv
{      
	padding: 10px;  
	margin-left: 520px;
	margin-top: 80px;
	min-width: 27.4em;  
	max-width: 27.4em;  
} 
				
h1
{  
	text-align: center;
	margin-left: 100px;	
	margin-top: 80px;
	font-size: 40px;  
	color: #0080ff;  
}  
	  
#lcd,#lcdu
{  
	text-align: right;  
	width: 18.71em;
	margin-top: .1em;
	margin-bottom: .2em;
	height: 40px;  
	font-size: 22px;  
}  
	  
button
{  
	background-color: #fff;  
	width: 80px;  
	height: 60px;  
	font-size: 20px;  
}  
	  
button:hover
{  
	background-color: #0080ff;   
}